@import url('http://fonts.cdnfonts.com/css/one-piece');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    height: 100vh;
    background-color: rgb(42, 132, 235);
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    gap: 15px;
}

.change {
    width: 75px;
    height: 30px;
    border-radius: 20px;
    font-family: 'Anton', sans-serif;
    transition: all 0.5s;
    cursor: pointer;
}

.change:hover {
    opacity: 0.5;
}

.fundo {
    width: 100%;
    height: 100%;
}

.nav-bar {
    width: 100%;
    height: 80px;
    background-image: url(/sea.jpg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(61, 59, 59);
}

.nav-bar img {
    width: 80px;
    align-items: center;
}

.nav-bar a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    transition: all 0.5s;
}

.nav-bar a:hover {
    opacity: 0.5;
}

.titulo-principal {
    text-align: center;
}

.titulo-principal img {
    width: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.descricao {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
}

.cards-row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.card {
    width: 350px;
    height: 400px;
    border: 3px solid black;
    position: relative;
    box-shadow: 5px 5px 5px;
    top: 0;
    transition: top ease 0.3s;
    background: white;
    border-radius: 25px;
    color: black;
}

.card:hover {
    top: -15px;
}

.titulo-card {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
    color: black;
}

.descricao-card {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: black;
}

#card-padding {
    padding-bottom: 10px;
}

#last-row {
    padding-bottom: 20px;
}

.fundos-card img{
    width: 100%;
    height: 60%;
}

a {
    text-decoration: none;
    transition: 0.5s;
    color: black;
}

a:active {
    color: black;
}